<section id="cart-view">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="cart-view-area">
					<div class="cart-view-table">
						<form action="">
							<div class="table-responsive">
								<div class="text-center">
									<h2>Cart</h2>
								</div>
								<table class="table">
									<thead>
										<tr>
											<th></th>
											<th>Product</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="p in cartItems">
											<!-- <td><button class="btn btn-sm" ng-click="removeFromCart(p.userProdCode)">Remove</button></td> -->
											<td><input class="btn btn-sm" type="button"
												ng-click="removeFromCart(p.userProdCode)" value="Remove"></td>
											<td><a class="aa-cart-title" href="#">{{p.productName}}</a></td>
											<td>{{p.productPrice | currency:'&#8377;'}}</td>
											<td><input class="aa-cart-quantity" type="number"
												value="1" ng-model="p.quantity"></td>
											<td>{{p.productPrice * p.quantity | currency:'&#8377;'}}</td>
										</tr>
										<tr>
											<td colspan="6" class="aa-cart-view-bottom"><input
												class="aa-cart-view-btn" type="button"
												ng-click="updateCart(cartItems)" value="Update Cart">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
						<!-- Cart Total view -->
						<div class="cart-view-total">
							<h4>Cart Totals</h4>
							<table class="aa-totals-table">
								<tbody>
									<tr>
										<th>Total</th>
										<td>{{cartTotal | currency:'&#8377;'}}</td>
									</tr>
									<tr>
										<td colspan="6" class="aa-cart-view-bottom"><input
											class="aa-cart-view-btn" type="button"
											ng-click="checkout(cartItems)" value="Proceed to Checkout">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / Cart view section -->
