<!-- Container (Pricing Section) -->
<div class="jumbotron text-center">
	<h1></h1>
	<p>Search product</p>
	<form class="form-inline">
		<input type="text" class="form-control" size="50"
			placeholder="Type Product ID" required>
		<button type="button" class="btn btn-danger">Search</button>
	</form>
</div>

<!-- Container (Portfolio Section) -->
<div id="categories" class="container-fluid text-center bg-grey">
	<h2>Category</h2>
	<br>
	<h4>Products by Category</h4>
	<div class="row text-center">
		<div class="col-sm-4" ng-repeat="p in categoryProducts">

			<div class="panel panel-default text-center">
				<div class="panel-heading">
					<h1>{{p.productCode}}</h1>
					<p>
						<strong>{{p.categoryCode}}</strong>
					</p>
				</div>
				<div class="panel-body">
					<p>
						<strong>{{p.productName}}</strong>

					</p>
					<p>{{p.productDesc}}</p>
				</div>
				<div class="panel-footer">
					<h3>{{p.productPrice | currency:'&#8377;'}}</h3>
					<button class="btn btn-lg">Add to Cart</button>
				</div>

			</div>
		</div>
	</div>
	<br>
</div>